*{ margin: 0; padding: 0;

box-sizing: border-box;

 } nav{ display: flex;

 justify-content: space-between;

 align-items: center;

padding: 20px; } .menu{ list-style: none; }

 .menu li{ display: inline-block;

 margin-left: 20px; 
 
} .menu a{ text-decoration: none; color: black; font-weight: bold; }

  nav img{ width: 120px;

